<% if comments.exists? %>
  <% comments.each do |comment| %>
  <table>
    <tbody>
        <tr>
          <td>
            <%= link_to user_path(comment.user) do %>
              <%= image_tag comment.user.get_profile_image(50,50), style: "border-radius: 50%" %><br>
              <%= comment.user.name %>
            <% end %>
          </td>
          <td><%= safe_join(comment.text.split("\n"), tag(:br)) %></td>
        </tr>
        <tr>
          <td>
            <% if comment.user == current_user %>
              <%= link_to "編集", edit_article_comment_path(article, comment), class: "btn btn-success" %>
            <% end %>
            <% if comment.article.user == current_user or comment.user == current_user%>
              <%= link_to "削除", article_comment_path(article, comment), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除しますか？' }, remote: true %>
            <% end %>
          </td>
          <td class="pl-2">投稿日：<%= comment.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>コメントはまだありません</p>
<% end %>

