<div class="container">
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.hidden_field :range, value: @range%>
      <%= f.text_field :word, :value => @word, placeholder: "キーワードを入力", class: "col-5" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="search_methods_box d-flex flex-row bd-highlight mb-3">
    <div class="search_method <% if @range == "Article" %>select_method<% end %>">
      <%= link_to "記事全体", search_path(range: "Article", word: @word), class:"btn" %>
    </div>
    <div class="search_method <% if @range == "Title" %>select_method<% end %>">
      <%= link_to "記事タイトル", search_path(range: "Title", word: @word), class:"btn" %>
    </div>
    <div class="search_method  <% if @range == "Text" %>select_method<% end %>">
      <%= link_to "記事本文", search_path(range: "Text", word: @word), class:"btn" %>
    </div>
    <div class="search_method  <% if @range == "Tag" %>select_method<% end %>">
      <%= link_to "タグ", search_path(range: "Tag", word: @word), class:"btn" %>
    </div>
  </div>

  <h2>「<%= @word %>」の検索結果</h2>

<table class="table table-hover table-inverse">
  <% if @range == "Article" && @articles_all.present?  %>
    <%= render "public/articles/list", articles: @articles_all %>

  <% elsif @range == "Title" && @articles_title.present? %>
        <%= render "public/articles/list", articles: @articles_title %>

  <% elsif @range == "Text" && @articles_text.present? %>
        <%= render "public/articles/list", articles: @articles_text %>

  <% elsif @range == "Tag" && @tags.present? %>
    <table class="table table-hover table-inverse text-center">
      <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td>
            <%= link_to tag_path(tag) do %>
              <%= tag.name %>（<%= tag.articles.count %>件）
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <label>検索結果がありません。</label>
  <% end %>
</table>
</div>
