<table class="table  table-bordered table-hover text-center">
  <% users.each do |user| %>
    <tbody>
      <tr>
        <td style="width: 40%">
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(50,50), style: "border-radius: 50%" %>
            <%= user.name %>@<%= user.account %>
          <% end %>
        </td>
        <td style="width: 50%"><%= user.introduction %></td>
      </tr>
    </tbody>
  <% end %>
</table>

