<div class="col-8 mx-auto pb-3">
  <h4 class="mini-title mt-3 mb-2">タグ登録/一覧</h4>
    <%= render "layouts/errors", obj: @new_tag %>
    <%= form_with model: @new_tag, url: admin_tags_path, method: :post, local:true do |f| %>
    <div class="form-group row">
      <%= f.text_field :name, placeholder: "新規登録", class: "form-control col-4" %>
      <%= f.submit "決定", class: "btn btn-success" %>
    </div>
    <% end %>

    <% if @tags.exists? %>
      <table class='table table-bordered table-hover text-center mb-0'>
        <thead class="table-danger">
          <tr>
            <th>登録ワード</th>
            <th>登録件数</th>
            <th></th>
          </tr>
        </thread>
        <tbody  class="table-warning">
          <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td><%= tag.articles.count %>件</td>
            <td class="col-3"><%= link_to "編集", edit_admin_tag_path(tag), class: "btn btn-success" %>
                <%= link_to "削除", admin_tag_path(tag), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか?"  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
    <div class="col-4 mx-auto mt-5">
      <p class="mt-4 pb-3">登録済みタグはありません</p>
    </div>
    <% end %>
</div>