<%= form_with model: article, local: true do |f| %>
  <div class="form-group row">
   <%= f.label :タイトル, class: "col-3" %>
   <%= f.text_field :title %>
  </div>

  <div class="form-group row">
   <%= f.label :text, "本文", class: "col-3" %>
   <%= f.text_area :text %>
  </div>

  <div class="form-group row">
   <%= f.label :カテゴリー, class: "col-3" %>
   <%= f.collection_select(:category_id, categories, :id, :name, {prompt: "--選択してください--"}) %>
  </div>

  <div class="form-group row">
   <%= f.label :tagname, "タグ(全角スペースで区切ると複数タグを登録できます)", class: "col-5" %>
   <%= f.text_field :name, class: "col-3" %>
  </div>

  <div class="form-group row">
   <%= f.label :article_images, "画像", class: "col-3" %>
   <%= f.file_field :article_images, multiple: true, accept: "image/*" %>
  </div>

  <% if article.article_images.count > 0 %>
    <div class="form-group row">
      <%= f.label :article_images, "削除する画像にチェック入れてください", class: "col-3" %>
      <div class="col-9 row">
        <% article.article_images.each do |image| %>
          <div class="col-4 d-flex justify-content-around align-items-center">
            <%= f.check_box :article_image_ids, {multiple: true}, image.id, false %>
            <%= image_tag image, size: "100x100" %> <br>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group row pb-3 mb-0">
   <%= f.label :公開設定, class: "col-3" %>
   <%= f.select :status, Article.statuses_i18n.invert, {}, { class: 'article-opened' } %>
  </div>
  <%= f.submit "決定", class: "btn btn-primary" %>
<% end %>