<div class="container py-3">
  <div class="article-contents mx-auto col-10">
    <div class="article-title text-center border-bottom">
      <h3 class="mb-3">
        <%= @article.title %>
        <font size="2" class="ml-4">投稿日: <%= @article.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d %H:%M') %></font>
      </h3>
    </div>
    <div class="article-box col-9 mx-auto mt-3">
      <%= safe_join(@article.text.split("\n"),tag(:br)) %>
      <div class="article-image mt-3 mb-3">
        <% @article.article_images.each do |article_image| %>
          <%= image_tag(article_image, width:250)  %>
        <% end %>
      </div>
      <div class="article_info border-bottom">
        <table class="table table-borderless col-6">
          <tbody>
            <tr>
              <th>投稿者</th>
              <td><%= link_to user_path(@article.user) do %>
                  <%= @article.user.name %>@<%= @article.user.account %>
                  <% end %>
              </td>
            </tr>
            <tr>
              <th>カテゴリー</th>
              <td><%= link_to @article.category.name, category_path(@article.category) %></td>
            </tr>
            <tr>
              <th>タグ</th>
              <td>
                <% @article_tags.each do |tag|%>
                  <%= link_to tag.name, tag_path(tag) %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>公開設定</th>
              <td><%= @article.status_i18n %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="article_reaction mt-1">
    <div class="reaction-buttons row col-8 mx-auto">
      <!--記事編集ボタン-->
      <% if @article.user == current_user %>
        <%= link_to "編集する", edit_article_path(@article), class: "btn btn-success pt-2 pb-2" %>
      <% end %>
    <% if user_signed_in? %>
      <!--いいねボタン-->
      <div id="favorite_btn_<%= @article.id %>">
        <%= render "public/favorites/favorites", article: @article %>
      </div>
        <!--フォローボタン-->
      <% unless @article.user == current_user %>
        <div id="relationship-btn_<%= @article.id %>">
          <%= render "public/relationships/follow_btn", user: @article.user %>
        </div>
      <% end %>
    </div>
    <div class="article-comment col-8 mx-auto mt-3">
      <p>コメント</p>
      <div id="new_comment">
        <%= render "public/comments/c_form", article: @article, comment: @comment %>
      </div>
    <% end %>
      <p>コメント一覧（<%= @article.comments.count %>）</p>
      <div id="comments">
        <%= render "public/comments/c_index", article: @article, comments: @comments %>
      </div>
    </div>
  </div>
</div>