<div class="container">
  <div class="row">
    <h3><%= @user.name %>@<%= @user.account %>の詳細</h3>
  </div>
  <div class="user_page-user_image">
    <%= image_tag @user.get_profile_image(200,200), style: "border-radius: 50%" %>
  </div>
  <div class="row">
    <div class="col-8 ml-5">
      <table class="table table-bordered ml-5">
        <tbody>
          <tr>
            <th class="col-4 text-center">ユーザーID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">ニックネーム</th>
            <td>
              <%= @user.name %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">アカウント名</th>
            <td>
              <%= @user.account%>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">自己紹介</th>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">フォロー</th>
            <td>
              <%= link_to admin_user_followings_path(@user) do %>
                <%= @user.followings.count %>人
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">フォロワー</th>
            <td>
              <%= link_to admin_user_followers_path(@user) do %>
                <%= @user.followers.count %>人
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">投稿一覧（<%= @user.articles.count %>件）</th>
            <td><%= link_to "一覧", admin_user_post_articles_path(@user) %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">いいね一覧（<%= @user.favorites.count %>件）</th>
            <td><%= link_to "一覧", admin_user_favorite_articles_path(@user) %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">まいトレ一覧（<%= @user.my_trainings.count %>件）</th>
            <td><%= link_to "一覧", admin_user_my_trainings_path(@user) %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">体重記録</th>
            <td><%= link_to "一覧", admin_user_weights_path(@user) %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">会員ステータス</th>
            <td>
              <% if @user.active_for_authentication? %>
                <b class="text_success">有効</b>
              <% else %>
                <b class="text-muted">退会</b>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4 mb-4 text-center">
        <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-success mr-3" %>
      </div>
    </div>
  </div>
</div>
