<nav class="navbar navbar-expand-lg border-bottom border-dark" >
  <div class="container">
    <a class="navbar-brand" href="/"><span><%= image_tag 'FitHapi_logo.png' %></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <div class="menu">
          <ul class="navbar-nav mb-2">
            <li>
              <%= link_to new_arrival_path, class: 'nav-link btn btn-outline-secondary mr-2' do %><i class="fas fa-star" area-hidden=”true”></i>新着記事<% end %>
            </li>
            <li>
              <%= link_to hot_path, class: 'nav-link btn btn-outline-secondary mr-2' do %><i class="fas fa-fire" area-hidden=”true”></i>人気の記事<% end %>
            </li>
            <li>
              <%= link_to new_article_path, class: 'nav-link btn btn-outline-secondary mr-2' do %><i class="fas fa-file-upload" area-hidden=”true”></i>新規投稿<% end %>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <div class="menu">
          <ul class="navbar-nav mb-2">
            <li>
              <%= link_to user_path(current_user), class: 'nav-link btn btn-outline-secondary mr-2' do %><i class="fas fa-users" area-hidden=”true”></i>マイページ<% end %>
            </li>
            <li>
              <%= link_to user_my_trainings_path(current_user), class: 'nav-link btn btn-outline-secondary mr-2' do %><i class="fas fa-dumbbell" area-hidden="true"></i>まいトレ<% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary' do %><i class="fas fa-sign-out-alt" area-hidden="true"></i>ログアウト<% end %>
            </li>
          </ul>
          <div class="search input-group"><!--検索窓-->
            <%= render "public/searches/s_form" %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
